- const pages = [{ href: "/time", text: "Time" }, { href: "/food", text: "Food" }, { href: "/money", text: "Money" }, { href: "/relationships", text: "Relationships" }, { href: "/health", text: "Health" }]

header.top-navigation
  nav.primary-navigation
    .logo
      a(href="/")
        img(src="/img/logo-full-colorful-light.svg", alt="Integrated Life Logo")

    ul
      each page in pages
        li
          a(href=page.href, class=(currentPage === page.href) ? "active" : "")= page.text
        
  .user-actions
    if user
      .user-info
        img.user-photo(
          src=`/img/users/${user.photo}`,
          alt="Profile Avatar"
        )

        ul.user-menu.elevation-100
          ul.mobile-navigation
            each page in pages
              li
                a(href=page.href, class=(currentPage === page.href) ? "active" : "")= page.text
            hr
          li
            a(href="/settings") Settings
          li
            a(href="/logout") Logout
    else
      ul
        li
          a(href="/login") Login

    