- const pages = [{ href: "/time", text: "Time" }, { href: "/food", text: "Food" }, { href: "/money", text: "Money" }, { href: "/relationships", text: "Relationships" }, { href: "/health", text: "Health" }]

header.top_navigation
  .content
    a.logo(href="/")
      img(src="/img/logo-full-colorful-light.svg", alt="Integrated Life Logo")

    ul.navigation
      each page in pages
        li
          a(href=page.href, class=(currentPage === page.href) ? "active" : "")= page.text
        
  .actions
    span#mobile-menu-toggle.material-symbols-outlined menu
    ul.mobile-navigation
      each page in pages
        li
          a(href=page.href, class=(currentPage === page.href) ? "active" : "")= page.text