@import 'base/base.scss';
@import 'base/colors.scss';
@import 'base/typography.scss';
@import 'base/elevations.scss';
@import 'components/button.scss';
@import 'components/form.scss';
@import 'components/modal.scss';
@import 'components/navigation.scss';
@import 'pages/login.scss';
@import 'pages/food/ingredients.scss';

html {
    background-color: $neutral-color-100;
  }
  
.content {
    display: flex;
}

.main {
    padding: 16px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 16px;
}

a {
    text-decoration: none;
}