@import 'base/base.scss';
@import 'base/colors.scss';
@import 'base/typography.scss';
@import 'base/elevations.scss';
@import 'components/navigation.scss';

html {
    background-color: $neutral-color-100;
    font-size: 16px;
    font-family: 'SF Pro Text';
    font-style: bold;

  }
  
.content {
    display: flex;
}

.main {
    padding: 16px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 16px;
}

a {
    text-decoration: none;
}