// Import your color and typography variables
@import '../base/colors.scss';
@import '../base/typography.scss';
@import '../base/elevations.scss';

/* Form Elements */

/* Style the form header */
.form-header {
  margin-bottom: 16px;
}

/* Style the form elements */
.form-group {
  margin-bottom: 16px;
  max-width: 100%; /* Ensure the form group doesn't exceed the modal's width */
  overflow: hidden; /* Hide any overflowing content */
  text-overflow: ellipsis; /* Add ellipsis (...) for text that overflows */
  white-space: nowrap; /* Prevent line breaks for long text */
  box-sizing: border-box; /* Include padding and border in the element's total width */
  display: flex;
  flex-direction: column;
}

/* Style the action row (buttons) */
.action-row {
  display: flex;
  gap: 8px;
  justify-content: space-between;
}

/* Input Fields */
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  width: 100%;
  padding: 12px 16px;
  border: 1px solid $neutral-color-300;
  border-radius: 4px;
  font-family: $font-family;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $primary-dark-text-color;
  background-color: $neutral-color-0;
  transition: border-color 0.3s, background-color 0.3s;

  &:focus {
    outline: none;
    border-color: $primary-color-700;
    background-color: #FFFFFF;
  }
}

/* Select Boxes */
select {
  width: 100%;
  padding: 12px 16px;
  padding-right: 0;
  border: 1px solid $neutral-color-300;
  border-radius: 4px;
  font-family: $font-family;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $primary-dark-text-color;
  background-color: $neutral-color-0;
  transition: border-color 0.3s, background-color 0.3s;

  &:focus {
    outline: none;
    border-color: $primary-color-700;
    background-color: #FFFFFF;
  }
}

/* Button styles */
button[type="button"] {
  flex: 1; /* Make buttons evenly distribute the available space */
  border: none;
  border-radius: 0; /* Remove border radius */
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 16px; /* Evenly distribute padding */
  background: $primary-color-700;
  text-transform: uppercase;
  letter-spacing: 0.01em;
  font-family: $font-family;
  font-size: $font-size-base;
  line-height: $line-height-base;

  &.primary {
    background: $primary-color-700;
    color: #FFFFFF; /* Set text color to white */

    &:hover {
      background: $primary-color-800;
    }

    &:active {
      background: $primary-color-900;
    }
  }

  &.secondary {
    background: $neutral-color-0;
    color: $secondary-color-700;
    border: 1px solid $secondary-color-700;

    &:hover {
      background: $secondary-color-100;
    }

    &:active {
      background: $secondary-color-700;
      opacity: 0.1;
    }
  }

  &.has-border-radius {
    border-radius: 5px; /* Remove border radius */
  }
}

/* Checkboxes and Radio Buttons */
input[type="checkbox"],
input[type="radio"] {
  margin-right: 5px;
}

/* Form Labels */
label {
  font-family: $font-family;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $primary-dark-text-color;
}

/* Additional Form Styles */
/* Add any additional form element styles as needed */

.full-width {
  width: 100%;
}

.wrap-text {
  width: auto; /* This is the default behavior */
  white-space: nowrap; /* Prevent text from wrapping */
}

.button-group-start {
  border-radius: 5px 0 0 5px !important;
}

.button-group-end {
  border-radius: 0 5px 5px 0 !important;
}