@import '../base/colors.scss';

.top-navigation {
  background-color: $neutral-color-0;
  padding: 8px 12px 8px 12px;
  z-index: 100;
  position: sticky;
  top: 0;
  border-bottom: 1px solid $neutral-color-300;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .primary-navigation {
    display: flex;
    flex-direction: row;
    align-items: center;

    img {
      padding-top: 8px;
      height: 32px;
      width: auto;
    }

    ul {
      list-style: none;
      display: flex;
      flex-direction: row;

      li {
        padding-right: 12px;

        a {
          color: $primary-dark-text-color;
          text-decoration: none;
          padding: 5px;
          
          &:hover {
            color: $primary-color-800;
            text-decoration: none;
          }
          &:active {
            color: $primary-color-900;
            text-decoration: none;
          }
          &.active {
            color: $primary-color-800;
          }
        }
      }
    }

    @media (max-width: 768px) {
      ul {
        display: none;
      }
    }
  }
  
  .user-actions { 
    list-style: none;
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    .user-info {
      display: flex;

      .user-photo {
        border: 1px solid $primary-color-700;
        padding: 2px;
      }

      .user-menu {
        display: none;
        position: fixed;
        top: 72px;
        left: 12px;
        right: 12px;
        padding: 8px 12px 8px 12px;
        background-color: $neutral-color-0;
        z-index: 1000; /* Adjust z-index to ensure it overlays other content */
        overflow-y: auto; /* Add scrollbars if needed when the content is tall */
        max-width: 360px;

        .mobile-navigation {
          display: none; // Hide by default
        }

        ul {
          list-style: none;
          display: flex;
          flex-direction: column;

        
          li {
            padding-bottom: 16px;

            &:first-child {
              padding-top: 8px;
            }

            &:last-child {
              padding-bottom: 8px;
            }

            a {
              color: $primary-dark-text-color;
              text-decoration: none;
              
              &:hover {
                color: $primary-color-800;
                text-decoration: none;
              }
              &:active {
                color: $primary-color-900;
                text-decoration: none;
              }
              &.active {
                color: $primary-color-800;
              }
            }
          }
        }

        // Use the "show" class to control visibility
        &.show {
          display: block !important; // Show when the "show" class is applied
        }
      }
    }

    // IF MOBILE

    @media (max-width: 768px) {

      .user-menu {
        display: none;

        .mobile-navigation {
          // Use the "show" class to control visibility
          &.show {
            display: flex;
            flex-direction: column;
            width: 100%;
            align-items: flex-start;
          }
        }

        .site-navigation {
          // Use the "show" class to control visibility
          &.show {
            display: flex;
            flex-direction: column;
            width: 100%;
            align-items: flex-start;
          }
        }
      }
    }
  }
}

/* Nest the navigation links styles */


.user-photo {
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
}

.left-navigation {
  width: 250px;
  min-height: 100vh;
  padding: 16px 8px;
  background-color: $neutral-color-700;
  color: $primary-light-text-color;
  
  /* Make the left navigation sticky */
  // position: sticky;
  // left: 0;
  // top: 0;

  .left-navigation__title {
    color: $primary-light-text-color;
    margin-bottom: 16px;
    padding: 0px 8px;
  }
  
  .left-navigation__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .left-navigation__list li {
    
    margin-bottom: 4px;
    border-radius: 8px;
    padding: 8px 10px;
  
    a {
      display: flex;
      align-items: center;
      color: $secondary-light-text-color;
      text-decoration: none;
    }
  
    &:hover {
      background-color: $neutral-color-800;
      color: $primary-light-text-color
    }
  
    &.active {
      color: $primary-light-text-color;
      font-weight:700;
      background-color: $neutral-color-900;
      border-radius: 8px;
      padding: 8px 10px;
    }
  }

  .material-symbols-outlined {
    margin-right: 16px;
    color: $secondary-light-text-color
  }
}