@import '../base/colors.scss';

.top-navigation {
  background-color: $neutral-color-0;
  padding: 8px 12px 8px 12px;
  z-index: 100;
  position: sticky;
  top: 0;
  border-bottom: 1px solid $neutral-color-300;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 44px;

  .primary-navigation {
    display: flex;
    flex-direction: row;
    align-items: center;

    img {
      padding-top: 8px;
      height: 32px;
      width: auto;
    }

    ul {
      list-style: none;
      display: flex;
      flex-direction: row;

      li {
        padding-right: 12px;

        a {
          color: $primary-dark-text-color;
          text-decoration: none;
          padding: 5px;
          
          &:hover {
            color: $primary-color-800;
            text-decoration: none;
          }
          &:active {
            color: $primary-color-900;
            text-decoration: none;
          }
          &.active {
            color: $primary-color-800;
          }
        }
      }
    }

    @media (max-width: 768px) {
      ul {
        display: none;
      }
    }
  }
  
  .user-actions { 
    list-style: none;
    display: flex;
    align-items: center;
    margin-left: auto;
    // flex-direction: column;

    .user-info {
      display: flex;

      .user-photo {
        border: 1px solid $primary-color-700;
        padding: 2px;
      }

      .user-menu {
        display: none;
        position: fixed;
        top: 72px;
        right: 12px;
        padding: 8px 12px 8px 12px;
        background-color: $neutral-color-0;
        z-index: 1000; /* Adjust z-index to ensure it overlays other content */
        overflow-y: auto; /* Add scrollbars if needed when the content is tall */
        max-width: 360px;

        .mobile-navigation {
          display: none; // Hide by default
        }

        ul {
          list-style: none;
          display: flex;
          flex-direction: column;

        
          li {
            padding-bottom: 16px;

            &:first-child {
              padding-top: 8px;
            }

            &:last-child {
              padding-bottom: 8px;
            }

            a {
              color: $primary-dark-text-color;
              text-decoration: none;
              
              &:hover {
                color: $primary-color-800;
                text-decoration: none;
              }
              &:active {
                color: $primary-color-900;
                text-decoration: none;
              }
              &.active {
                color: $primary-color-800;
              }
            }
          }
        }

        // Use the "show" class to control visibility
        &.show {
          display: block !important; // Show when the "show" class is applied
        }
      }
    }

    .login-button-container {
      display: flex; /* Use flexbox to center the button inside the container */
      align-items: center; /* Vertically align the login button */
      margin-left: 20px; /* Add spacing between the primary navigation and login button */
    }
    
    .login-button {
      text-decoration: none; /* Remove underline */
      color: green; /* Match the text color of the user menu */
      background-color: transparent; /* Make the background transparent like list items */
      padding: 8px 16px; /* Same padding as user menu items */
      border: none; /* No border, keep it simple like list items */
      border-radius: 4px; /* Slight rounding for consistency with the theme */
      font-weight: bold;
      transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition */

      a {
        color: $primary-dark-text-color;
        text-decoration: none;
        
        &:hover {
          color: $primary-color-800;
          text-decoration: none;
        }
        &:active {
          color: $primary-color-900;
          text-decoration: none;
        }
        &.active {
          color: $primary-color-800;
        }
      }
    }
    
    /* Hover effect for Login button to match the user menu */
    .login-button:hover {
      background-color: $primary-color-100; /* Add a subtle background to differentiate */
      color: $primary-color-800; /* Change color to match hover effect in user menu */
      text-decoration: none;
    }
    
    .login-button:active {
      color: $primary-color-900; /* Active color for consistency */
    }
    
    .login-button:visited {
      color: $primary-color-900; /* Visited color for consistency */
    }    

    // IF MOBILE

    @media (max-width: 768px) {

      .user-menu {
        display: none;
        left: 12px;

        .mobile-navigation {
          // Use the "show" class to control visibility
          &.show {
            display: flex;
            flex-direction: column;
            width: 100%;
            align-items: flex-start;
          }
        }

        .site-navigation {
          // Use the "show" class to control visibility
          &.show {
            display: flex;
            flex-direction: column;
            width: 100%;
            align-items: flex-start;
          }
        }
      }
    }
  }
}

.user-photo {
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
}
.left-navigation {
  display: flex; /* Use flex display */
  align-items: flex-start; /* Vertically center items */
  flex-direction: column;
  width: 250px;
  min-height: calc(100vh - 60px);
  padding: 16px 8px;
  background-color: $neutral-color-300;
  border-right: 1px solid $neutral-color-300;
  color: $primary-light-text-color;
  z-index: 99;
  position: sticky;

  h1 {
    color: $primary-dark-text-color;
    margin-left: 10px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 6px;
    width: 100%;

    li {
      display: flex; /* Use flex display for li elements */
      align-items: center; /* Vertically center li items */
      padding: 8px 0px;
    }

    a {
      display: flex; /* Use flex display for li elements */
      align-items: center; /* Vertically center li items */
      text-decoration: none;
      color: $primary-dark-text-color;

      .material-symbols-outlined {
        margin: 0px 16px 0px 12px;
      }

      &.active {
        font-weight: 700;
      }

      &:hover {
        color: $primary-color-800; /* Change text color on hover */
        // .material-symbols-outlined {
        //   color: $primary-color-800; /* Change icon color on hover */
        // }
        background-color: $primary-color-100;
        border-radius: 5px;
      }
    }
  }
}


// .left-navigation {
//   width: 250px;
//   min-height: 100vh;
//   padding: 20px 8px;
//   background-color: $neutral-color-300;
//   color: $primary-light-text-color;
  
//   ul {
//     list-style-type: none;
//     padding: 0;
//     margin: 0;

//     li {
//       padding: 8px 10px;
    
//       a {
//         text-decoration: none;
//         color: $primary-dark-text-color;
//       }
    
//       &.active {
//         color: $primary-dark-text-color;
//         font-weight:700;
//         background-color: $neutral-color-900;
//       }
//     }

//     .material-symbols-outlined {
//       margin: 0px 8px 0px 8px;
//     }
//   }


// }